// Here you can add other styles
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Noto+Sans+JP&family=Open+Sans&family=Poppins:wght@500&family=Roboto&display=swap");
/*font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/

.c-sidebar {
&.c-sidebar-fixed {
@include media-breakpoint-up($mobile-breakpoint) {
  position: fixed;
  top: 8.7vh;
}}}
.card,.c-card,.card-header, .CCarouselItem{
  border-radius: 15px!important
}
.lato-titulo{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
}
.card-header{
  outline: none;
  border: none;
}

.pb-15{
  padding-bottom: 15px;
}

.plato{
  height: 20rem;
  width: 20rem ;
  margin: 5%;
  border: black
 
}
.card img {
  border-radius: 15px!important

}

.forma {
  font-size: 1rem !important;
  font-family: "Poppins", sans-serif;
}
.forma-div{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 0px
}
.titulosnaviten{
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}
.titulosnavitenG {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
p,a,h6,h5 {
  font-size:small !important;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #000;
  
}

.texto {
  font-size: 0.8rem !important;
  font-family: "Poppins", sans-serif;
}
.iconos {
      max-height: 5.8vh!important;
      border-radius: 5%;
      justify-content: center;
}

.center {
  text-align: center !important;
  justify-content: center;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(7, 143, 41); /* Fallback color */
  background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}