// Here you can add other styles
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Noto+Sans+JP&family=Open+Sans&family=Poppins:wght@500&family=Roboto&display=swap");
/*font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/
.forma {
  font-size: 0.8rem !important;
  font-family: "Poppins", sans-serif;
}
.forma-div{
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 0px
}
.titulosnaviten {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}
.titulosnavitenG {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
p {
  font-size: 1rem !important;
  font-family: "Poppins", sans-serif;
}
a {
  font-size: 1rem !important;
  font-family: "Poppins", sans-serif;
}
.texto {
  font-size: 0.8rem !important;
  font-family: "Poppins", sans-serif;
}
.iconos {
      max-height: 5.8vh!important;
      border-radius: 5%;
      justify-content: center;
}
.center {
  text-align: center !important;
  justify-content: center;
}
